.Header{
  align-items: center;
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 25px;
}

.Header nav a{
  color: black;
  font-weight: normal;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

.Header nav a:hover {
  color: blueviolet;
}

/* Home Styling */
.Home {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 25px;
}